@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vår startsida</h1>
    @*<p>User signature: @ViewBag.userSig</p>*@ @*<- TODO: testkod, ta bort.*@
    <p class="lead">Denna sida ska alla kunna se, oavsett om man är inloggad eller inte.</p>
</div>
@Html.ActionLink("Gör ett nytt inlägg", "")